<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpt276.as2.parentapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".model.TimerNotification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tree"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tree_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParentApp">
        <activity
            android:name=".UI.ActitivityEditSingleChildActivity"
            android:parentActivityName=".UI.EditChildActivity"
            android:exported="true" />
        <activity
            android:name=".UI.EditChildActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.ParentApp" />

        <service android:name=".model.RingtonePlayService" />
        <service android:name=".model.TimerService" />

        <activity
            android:name=".UI.TimeoutOptionActivity"
            android:exported="true"
            android:label="Timeout settings"
            android:parentActivityName=".UI.TimeoutActivity" />
        <activity
            android:name=".UI.TimeoutActivity"
            android:exported="true"
            android:label="Timeout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UI.CoinFlipHistoryActivity"
            android:exported="true"
            android:label="Toss History" />
        <activity
            android:name=".UI.CoinFlipActivity"
            android:exported="true"
            android:label="CoinFlip" />
        <activity
            android:name=".UI.TaskManagerActivity"
            android:exported="true"
            android:label="Task" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ParentApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".model.NotificationReceiver" />
    </application>

</manifest>